<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-message" >{{errorMessage}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="accessToken" aria-describedby="access-token-icon"
                       placeholder="uuid">
                <span class="input-group-btn">
                      <button (click)="validateToken()" class="btn btn-secondary" type="button">validate token</button>
                  </span>
            </div>
        </div>
    </div>
</div>
