<div class="container">
    <div class="row">
        <div class="col-md-12">
            <key-management
                    (accessKeyEmitter)="updateAccessKey($event)"
            ></key-management>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <h3>secrets</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">

            <div class="input-group">
                <span class="input-group-addon" id="current-path">/</span>
                <input type="text" class="form-control" [(ngModel)]="currentPath" aria-describedby="current-path"
                       value="/">
                <span class="input-group-btn">
                      <button (click)="getSecrets()" class="btn btn-secondary" type="button">get secrets</button>
                  </span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="secret value" [(ngModel)]="secretValue">
                  <span class="input-group-btn">
                      <button (click)="saveSecret()" class="btn btn-secondary" type="button">save secret</button>
                  </span>
            </div>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="list-group" *ngFor="let secret of secrets">
                <button type="button" class="list-group-item" (click)="onSelect(secret)">{{secret}}</button>
            </div>
        </div>
    </div>
</div>
