<h1>{{title}}</h1>

<div>console</div>
<div>{{response}}</div>

<hr/>

<div>seal status</div>
<div>{{isSealed}}</div>
<button (click)="unsealVault()" *ngIf="isSealed">Unseal Vault</button>
<button (click)="sealVault()" *ngIf="!isSealed">seal Vault</button>

<hr/>

<button (click)="newKey()" [disabled]="isSealed">new key</button>

<div>current key</div>
<input [(ngModel)]="accessKey" placeholder="uuid" />
<input [(ngModel)]="rootToken" placeholder="root token" />

<hr/>

<input [(ngModel)]="secretPath" [disabled]="isSealed" placeholder="my-app/some-secret" />
<input [(ngModel)]="secretValue" [disabled]="isSealed" placeholder="password123!?" />
<button (click)="saveSecret()" [disabled]="isSealed">save</button>

<hr/>

<input [(ngModel)]="secretValueGet" [disabled]="isSealed" placeholder="my-app/some-secret" />
<button (click)="getSecret()" [disabled]="isSealed">Get Secret Value</button>
<div>{{secretGetValue}}</div>
